@media (max-width: 650px) {

  .download {
    .link-wrapper {
      flex-direction: column;
      gap: 20px;
    }
  }

  .pricing-wrapper {
    flex-direction: column !important;

    .item {
      flex: 0 0 270px !important;
      width: 250px !important;
      margin-top: 25px !important;

      .bullet-list {
        .bl-item {
          font-size: 14px !important;
        }
      }
    }

    .item1 {
      .price {
        margin-bottom: 0px !important;
      }
    }



  }

  .gopher {
    img {
      display: none;
    }
  }

  .light {
    --content-shadow: 6px 6px 20px -3px rgba(0, 0, 0, 0.3);
  }

  .basic-page {
    gap: 100px;
  }

  .pricing-page {
    gap: 50px;

    .pricing-component {
      .title {
        display: flex;
        text-align: center;

        .link {
          display: flex;
          text-align: center;
        }
      }
    }
  }

  .triforce-component {

    .item {
      height: fit-content;
      width: 100%;
      position: unset;
      margin-top: 100px;
    }

    .item1,
    .item2,
    .item3 {
      left: 0%;
    }

    .text {
      max-width: 300px;
      margin: auto;
      width: fit-content !important;
      text-align: center !important;
      position: unset !important;
      margin-bottom: 20px;
    }

    img {
      height: auto;
      margin-top: 0px !important;
      position: unset !important;
      height: auto;
      max-height: unset !important;
      width: 95%;
      margin-left: 5%;
      min-width: 270px;
    }

  }

  .big-features {
    gap: 60px;

    .feature {
      flex: 0 0 100%;

    }
  }

  .diagram-component {

    .subtitle {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  .textimageleft-component {
    margin-top: 100px;

    img {
      min-width: unset;
      width: 100%;
    }

    .text {
      padding: 0px;
      margin-bottom: 25px;
    }
  }

  .textimageright-component {
    margin-top: 100px;

    img {
      min-width: unset;
      width: 100%;
    }

    .text {
      padding: 0px;
      margin-bottom: 25px;
    }
  }

  .smallbanner {
    margin-top: 0px;
    height: 200px !important;
  }

  .textbanner {
    padding: 60px 20px;
    min-height: 300px;
    margin-bottom: 50px;

    .top-text {
      .title {
        font-size: 32px !important;
      }

      .text-content {
        font-size: 16px;
      }
    }
  }

  .textcenter-component {
    padding: 20px;

    .text {
      .title {
        font-size: 28px !important;
      }

      .section-text {
        font-size: 16px;
      }
    }
  }

  .banner {
    margin-top: 70px;
    height: fit-content;

    .item-1, .item-4, .item-5 {
      display:none;
    }

    .top-text {
      .title {
        font-size: 30px !important;

      }

      .subtitle {
        font-size: 20px !important;
      }
    }

    .right {
      left: -20px;
      top: 333px;
      width: 66%;
      min-width: 400px;
    }

    .top {
      left: 0;
      /* min-width: 450px; */
      width: 50%;
      top: 150px;
    }

    .left {
      display: none;
    }
  }

  .footer {
    .grey-container {
      /* margin-left: -20px; */
      /* margin: auto; */
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      flex-direction: column;
      align-items: center;

      .link {
        width: 100%;
        font-size: 26px;
        height: 44px;
      }
    }
  }
















}
